<!DOCTYPE html>
<html>
  <head>
    <title><%= @article && current_position=="articles#show" ? @article.title + " - ActiveMine"  : "ActiveMine - Dig out valuable things from the Internet" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="ShpDI9Bv2xUb3AwyKKldqZ2Ax87ZG9dFxVFvYqWvrG4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "highlight/highlight" %>
    <%= stylesheet_link_tag    'layout', media: 'all', 'data-turbolinks-track': 'reload'%>
   <script>
      var listSize = 0;
      var newDataSize = 0;

      function LoadMore(isMine=null){
        $.ajax({
          url: isMine ? `/articles/mine?offset=${listSize}` : `/articles?offset=${listSize}`,
          dataType: "script"
        })
        .done(function(res){
          console.log('OK唷');
        })
        .fail(function(jqXHR){
          let contentType = jqXHR.getResponseHeader('Content-Type');
          if(jqXHR.responseJSON){
            let errorMsg = jqXHR.responseJSON.error;
            setFlash(false, errorMsg);
          }
          else{
            console.log(jqXHR.responseText)
            setFlash(false, `Response Type mismatched: got ${contentType}`);
          }
        })
      }
    </script>
    <%= stylesheet_link_tag 'articles', media: 'all', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
    <div class="wrap-alert" id="wrap-alert">
      <% if notice %>
        <p class="alert alert-success notosans" onanimationend="foldAlert(this)">
         <span class="alert-txt"><%= notice %></span>
        </p>
      <% end %>
      <% if alert %>
         <p class="alert alert-danger notosans" onanimationend="foldAlert(this)">
         <span class="alert-txt"> <%= alert %></span>
        </p>
      <% end %>
        <%# <p class="txt alert alert-danger animation-forwards" onanimationend="foldAlert(this)"><span class="alert-txt">Test abcdefghijadfadsf123</span></p> %>
    </div>
    <div id="confirm-bkg" class="confirm-bkg">
      <div class="confirm-container">
          <div class="wrap-confirm-text-all">
            <div class="wrap-confirm-text">
              <h1 class="contirm-title font text-dft">Are You Sure?</h1>
              <h4 class="confirm-message font text-dft">All you changes will be lost.</h4>
            </div>
            <div class="x font text-dft" onclick="closeConfirm()">&#x2715;</div>
          </div>
          <div class="wrap-confirm-btns confirm">
            <button id="no" class="btn cancel font text-t7" onclick="closeConfirm()">&#x2715; No</button>
            <input id="yes" type="submit" class="btn yes font text-t7" onclick="history.go(-1);return false;" value="&#x25EF; Yes">
          </div>
      </div>
    </div>
    <%= render('shared/nav') %>
    <main id="main" class="<%= "#{params[:controller]}-#{params[:action]}"%>">
      <%= yield %>
      <% if should_show_sidebar %>
        <%= render('shared/sidebar') %>
      <% end %>
    </main>
  </body>
</html>
