<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In - TechPod</title>
  <%= stylesheet_link_tag "users/new_user_session" %>
  <%= javascript_include_tag "signin" %>
</head>
<body>
    <div id="container-signin">
        <div class="wrap oauth">
        <h1 id="txt-signin">Sign In</h1>
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <% case provider.to_s %>
              <% when "facebook" %>
                <%= link_to "#{svg('facebook', id: "facebook", class: "icon-signin facebook")} Sign In via Facebook".html_safe, omniauth_authorize_path(resource_name, provider), class:"signin-option facebook" %>
              <% when "google_oauth2" %>
                <%= link_to "#{image_tag('google.png', class: "icon-signin google")} Sign In via Google".html_safe, omniauth_authorize_path(resource_name, provider),class:"signin-option google" %>
              <% else %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="wrap middle">
            <hr>
            <span class="txt">or</span>
            <hr>
        </div>
        <div class="wrap inputs">
          <%= form_tag user_session_path do%>
            <div class="signin-pair">
              <%= label_tag "username", "username", class: 'signin-label tc' %>
              <% #text_field_tag(:email, nil, required: true, class: "signin-option input",required: true, autocomplete: 'on') %>
              <%= email_field_tag(:email, nil, required: true, class: "signin-option input username",required: true, autocomplete: 'off') %>
            </div>

            <div class="signin-pair">
              <%= label_tag "password", "password", class: 'signin-label tc' %>
              <%= password_field_tag(:password, nil, required: true, class: "signin-option input",required: true, autocomplete: 'off') %>
            </div>


            <div class="signin-pair">
              <%= submit_tag "Sign In", class:"signin-option submit tc signin" %>
            </div>
            <%= link_to "sign up", new_user_registration_path, class: "link-signup"%>
          <% end %>
        </div>
    </div>
</body>
</html>
