<!DOCTYPE html>
<html>
  <head>
    <title>To-Do Lists - ActiveMine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >
    <%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'layout', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag "to_do_lists", 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "to_do_lists", media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrap-alert" id="wrap-alert">
      <% if notice %>
        <p class="alert alert-success notosans" onanimationend="foldAlert(this)">
         <span class="alert-txt"><%= notice %></span>
        </p>
      <% end %>
      <% if alert %>
         <p class="alert alert-danger notosans" onanimationend="foldAlert(this)">
         <span class="alert-txt"> <%= alert %></span>
        </p>
      <% end %>
        <%# <p class="txt alert alert-danger animation-forwards" onanimationend="foldAlert(this)"><span class="alert-txt">Test abcdefghijadfadsf123</span></p> %>
    </div>
    <div id="confirm-bkg" class="confirm-bkg">
      <div class="confirm-container">
          <div class="wrap-confirm-text-all">
            <div class="wrap-confirm-text">
              <h1 class="contirm-title notosans text-dk">Are You Sure?</h1>
              <h4 class="confirm-message notosans text-dk">All you changes will be lost.</h4>
            </div>
            <div class="x notosans text-dk" onclick="closeConfirm()">&#x2715;</div>
          </div>
          <div class="wrap-confirm-btns confirm">
            <button id="no" class="btn cancel notosans text-e7" onclick="closeConfirm()">&#x2715; No</button>
            <input id="yes" type="submit" class="btn yes notosans text-e7" onclick="history.go(-1);return false;" value="&#x25EF; Yes">
          </div>
      </div>
    </div>
    <%= render('shared/nav') %>
    <main id="main">
      <%= yield %>
    </main>
  </body>
</html>
