<%= stylesheet_link_tag "article-page"%>

<div class="wrap-article">
  <div class="wrap-title">
    <h1 id="article_<%= @article.id%>" class="article-page-title notosans-bold text-5b"><%= @article.title %></h1>
    <span class="article-page-author notosans-light text-5b"><%= username(@article.user) %></span>
    <span class="subtitle notosans-light text-7e">This should be subtitle</span>
    <span class="article-page-created-at notosans-light text-7e"><%= @article.created_at.strftime("%a, %d %b %Y") %></span>
  </div>
  <p class="article-page-content notosans-light text-5b"><%= @article.content.gsub(/\n/, "\<br\>").html_safe %></p>
</div>

