<%= stylesheet_link_tag 'articles', media: 'all', 'data-turbolinks-track': 'reload'%>
<%# 所以只要那個resource.scss裡面import shared，之後都可以在resource.scss上面做更改局部css即可！ %>
<%# legacy %>
<!--
<div id="articles-container">
  <% @articles.each do |article| %>
    <a id="article-block-<%=article.id%>" class="article-block" href="<%= article_path(article.id)%>">
      <div class="author"><%= article.user.email.split('@')[0] %></div>
      <div class="wrap-title"><h3 id="article_<%= article.id%>"><%= article.title %></h3><span class="created-at"><%= readable_time(article.created_at) %></span></div>
      <p class="content"><%= article.trimmed_content %></p>
      <div class="wrap-summary">
      <span class="like-count">&#x1f44d; <%= article.like_count %></span>
      <span class="comment-count">&#x1f4ac; <%= article.comment_count %></span>
      <span class="view-count">&#x1f441; <%= article.view_count %></span>
      </div>
    </a>
  <% end %>
</div>
-->
<section class="articles">
  <h2 class="section-h2 notosans-light text-7e">Articles</h2>
  <hr class="section-hr">
  <div class="section-content-container">
    <% @articles.each do |article| %>
      <div class="article-container" id="article-<%=article.id%>">
        <a href="<%= article_path(article.id)%>" class="article-link">
          <div class="wrap-article-title">
            <h3 class="article-title notosans-bold"><%= article.title %></h3>
            <%= article.draft?? '<span class="draft notosans-light text-5b">draft</span>'.html_safe : "" %>
          </div>
          <span class="article-description notosans-light text-5b"><%= @markdown.render(article.trimmed_content) %></span>
        </a>
        <span class="article-author notosans-light text-5b"><%= username(article.user) %></span>
        <span class="article-created-at notosans-light text-5b"><%= article.created_at.strftime("%B") %> <%= article.created_at.day %></span>
      </div>
    <% end %>
  </div>
</section>