<div class="container">
  <% unless params[:action] == "mine" %>
    <p class="welcome-txt text-dft notosans"><%= t('controller.articles.welcome_message') %></p>
  <% end %>
  <section class="articles">
    <h1 class="block-title font text-t3"><%= t("controller.articles.#{params[:action]}")%> <%= @category.present?? ": #{@category}" : "" %></h2>
    <hr class="block-hr">
    <div class="section-content-container articles">
    <% if @articles.empty? %>
      <h2 class="notosans text-dft"><%= t('controller.articles.empty') %></h2>
    <% end %>
      <% @articles.each do |article| %>
        <div class="article-container" id="article-<%=article.id%>">
          <a href="<%= article_path(article.id)%>" class="article-link">
            <div class="wrap-article-title">
              <h3 class="article-title font text-t3"><%= article.title %></h3>
              <% case article.state %>
              <% when "draft"%>
                <%= article.draft?? '<span class="draft font text-t7">draft</span>'.html_safe : "" %>
              <% when "hidden"%>
                <%= article.hidden?? '<span class="private font text-t7">private</span>'.html_safe : "" %>
              <% end %>
            </div>
            <div class="wrap-tags">
              <% article.tags.map(&:name).each_with_index do |tag, i| %>
                  <span class="article-description tag font text-dft"><%= tag %></span>
                <% if i!=article.tags.size-1 %>
                  <span class="notosans text-dft">,</span>
                <% end %>
              <% end %>
            </div>
          </a>
          <span class="article-author font text-dft"><%= article.user.name %></span>
          <span class="article-created-at font text-dft"><%= readable_time(article.created_at) %></span>
        </div>
      <% end %>
      <div id="load-more-container" class="notosans text-t3">
        <span id="load-more" onclick="LoadMore(<%= @scope=='mine' %>)"><%= t('controller.articles.load_more') %></span>
      </div>
    </div>
  </section>

  <script>
    listSize = <%= @articles.size %>;
  </script>
</div>