<%= stylesheet_link_tag "articles" %>
<div class="articles-wrapper">
  <% @articles.each do |article| %>
    <article>
      <!-- <div class="img-wrap">
         <%# image_tag("ros/logo.png") %>
      </div> -->
      <div class="info-wrap">
        <a href="<%= article_path(article.id)%>">
          <h3><%= article.title %></h3>
        </a>
        <div class="tags-wrap">
          <% article.tags.map(&:name).each do |tag| %>
            <a href="/">
              <span class="tag"><%= tag %></span>
            </a>
          <% end %>
        </div>
        <span class="timestamp"><%= readable_time(article.created_at) %></span>
      </div>
    </article>
  <% end %>
</div>