<%= javascript_include_tag "highlight/highlight" %>
<%= javascript_include_tag "articles/articles" %>
<%= stylesheet_link_tag $markdown_hljs_css %>
<%= stylesheet_link_tag 'articles', media: 'all', 'data-turbolinks-track': 'reload'%>
<%= stylesheet_link_tag "article-page"%>
<script>
  $("main").ready(()=>{
    $('input[type="radio"]:checked').parent().addClass("selected");
    $(".state-pair input[type='radio']:checked").addClass("selected");
  })
  function select(event){
    let otherRadios = $('input[type="radio"]');
    // otherRadios.prop('checked', false);
    otherRadios.parent().removeClass("selected");
    if(event.target.nodeName==="SPAN"){
      var radio = $('input[type="radio"]', event.target.parentNode);
    }
    else{
      var radio = $('input[type="radio"]', event.target);
    }
    radio.prop('checked', true); //event.target = pair
    radio.parent().addClass("selected"); //event.target = pair
  }
</script>
<div id="container" class="<%= ("#{params[:controller]}##{params[:action]}" =="articles#new" ? "expand-for-article-new" : "") %>">
  <%= form_with model: @article do |f|  %>
    <div class="wrap-article">
      <div class="wrap-title">
        <%= f.hidden_field :user_id, {value: current_user.id, class: "article-page-title notosans text-dk"} %>
        <div class="wrap-title-and-delete">
          <div class="wrap-label-input title">
            <label for="title" class="notosans-light text-dk">Title</label>
            <%= f.text_field :title, {value: @article.title, autocomplete: 'off', class: "article-page-title notosans text-dk", required: true} %>
          </div>
          <%= link_to "&#x1f5d1;".html_safe, :back, method: :get, class: "article-destroy", data: {confirm: t('controller.articles.confirm_delete')}%>
        </div>
        <div class="wrap-label-input subtitle">
          <label for="tags" class="notosans-light text-dk">Tags</label>
          <%= f.text_field :tags, {value: @article.tag_names.join(", "), placeholder: "docker, design-pattern, ...", class: "article-page-subtitle notosans-light text-dk"} %>
        </div>
        <div class="wrap-label-input state">
          <label for="state" class="notosans-light text-dk">State</label>
          <div class="wrap-state">
            <div class="state-pair" onclick="select(event)">
              <span class="notosans-light text-7e">Draft</span>
              <%= f.radio_button :state, "draft", class: "notosans text-dk" %>
            </div>
            <div class="state-pair" onclick="select(event)">
              <span class="notosans-light text-7e">Published</span>
              <%= f.radio_button :state, "published", class: "notosans text-dk" %>
            </div>
            <div class="state-pair" onclick="select(event)">
              <span class="notosans-light text-7e">Private</span>
              <%= f.radio_button :state, "hidden", class: "notosans text-dk" %>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap-label-input content">
        <label for="content" class="notosans-light text-dk">Content</label>
        <div class="content-base">
          <div id="preview-page" class="content-page preview">
            <div id="preview-toggle" class="page-toggle notosans-light text-dk" onclick="togglePreviewMarkdown(true, document.getElementById('article_content').value, <%=Rails.env.production?%>)">PREVIEW</div>
            <div id="preview-markdown" class="markdown text-dk"></div>
          </div>
          <div id="edit-page" class="content-page edit">
            <!-- edit page is active by default -->
            <div id="edit-toggle" class="page-toggle notosans-light text-dk active" onclick="togglePreviewMarkdown(false)">EDIT</div>
            <%= f.text_area :content, {value: "",autocomplete: 'off', placeholder: "Say something", class: "article-page-content markdown text-dk"} %>
          </div>
        </div>
      </div>

      <div class="wrap-edit-btns">
        <div class="wrap-edit-cancel-save">
          <a href="javascript:void(0)" id="cancel" class="btn cancel notosans-light text-e7" onclick="openConfirm(event)">&#x2715; Cancel</a>
          <%= f.submit "&#x1F4BE; Create".html_safe, class: "btn save notosans-light text-e7" %>
        </div>
      </div>
    </div>
  <% end %>
</div>