<%= stylesheet_link_tag "footer" %>
<footer>
  <div class="block">
    <h2>About</h2>
    <ul>
      <li><%= link_to "Me", ENV['ABOUT_URL'] || "javascript:void(0)" %></li>
      <li><a href="https://github.com/kylemocode/BESG">Back End Study Group</a></li>
    </ul>
  </div>
  <div class="block">
    <h2>Connect</h2>
    <ul>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Updates</a></li>
    </ul>
  </div>
  <div class="block">
    <h2>Resources</h2>
    <ul>
      <li><%= link_to t('navbar.color_picker'), ENV['COLORPICKER_URL'] || "javascript:void(0)"%></li>
      <li><%= link_to t('navbar.word_book'), words_path%></li>
    </ul>
  </div>
  <ul class="contact-links">
    <li><a href="<%= ENV['MEDIUM_URL'] %>"><%= image_tag("ros/medium_subed_logo.png") %></li>
    <li><a href="<%= ENV['GITHUB_URL'] %>"><%= image_tag("ros/git_subed_logo.png") %></li>
    <li><a href="javascript:void(0)"><%= image_tag("ros/fb_subed_logo.png") %></li>
    <li><a href="<%= ENV['LINKEDIN_URL'] %>"><%= image_tag("ros/linkedin_subed_logo.png") %></li>
  </ul>
  <ul class="others">
    <li><a href="javascript:void(0)">Terms Of Use</a></li>
    <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
    <li><a href="javascript:void(0)">Cookie Policy</a></li>
  </ul>
</footer>