<div id="container-top">
      <div class="txt" id="titles">
          <span id="title"><%= link_to "OurWorkspace",root_path %></span>
          <% if subtitle!="" %>
              <span class="home"><%= link_to(image_tag("home.png",class:"icon-home"), root_path ,class:"home") %></span>
            <span id="subtitle">
              <% if subtitle!="Home" %>
                <%= link_to("â¬…",:back ,class:"home") %>
              <% end %>
              <%= subtitle %>
            </span>
          <% end %>
      </div>
    <%if subtitle!=""%>
      <div id="wrap-user-status">
        <div class="btn-logout">
           <%= link_to "Logout",destroy_user_session_path,method:"delete",data:{confirm:"çœŸderè¦ç™»å‡ºå—Žï¼ŸðŸ˜­"} %>
         </div>
          <span id="current-username">
             <% if current_user %>
               <%= current_user.email.split('@')[0] %>
             <% else %>
               <script>
               window.location = "users/sign_in"
               </script>
             <% end %>
          </span>
      </div>

    <% end %>

</div>

