<nav id="nav-top">
  <a class="link-wrap-title notosans" href="/">
    <%= svg('ruby', class: "ruby-icon") %>
    <span class="title">ActiveMine</span>
  </a>
  <div class="nav-top-options-container">
    <div class="nav-top-option idle" id="nav-side-toggle">
      <%= svg_asset('search-icon') %>
    </div>
    <div id="nav-side-toggle" class="nav-top-option idle" onclick="toggleSideNav()">
      <%= svg_asset('menu-icon') %>
    </div>
    <!-- <div class="nav-top-option idle" id="nav-side-toggle" onclick="toggleSideNav()">&#x2630;</div> -->
  </div>
  <nav id="nav-side" class="no-dark">
    <div id="nav-side-menu-container">

      <% if current_user %>
        <div class="nav-side-block">
          <h2 class="nav-side-block-title notosans text-a9">
            <img src="<%= current_user.image_url%>" alt="img" class="nav-profile-img crop-circle">
            <span class="notosans username text-d3"><%= username(current_user) %></span>
          </h2>
          <hr class="nav-side-block-hr">
          <div class="nav-side-block-content-container">
              <% if !["articles#new", "articles#edit"].include?("#{params[:controller]}##{params[:action]}") %>
                <h3 class="nav-side-block-content"><%= link_to "<span class=\"pen\">&#x270e;</span> Write Article".html_safe, new_article_path, class: "text-d3 notosans" %></h3>
              <% end %>
            <h3 class="nav-side-block-content"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-d3 notosans", data: {confirm: t("devise.sessions.confirm_sign_out")} %></h3>
          </div>
        </div>
      <% else %>
        <div class="nav-side-block">
          <h2 class="nav-side-block-title notosans text-a9">
            <div class="nav-profile-img crop-circle" style="background-color: #585858;"></div>
            <span class="notosans username text-d3">Not Signed In</span>
          </h2>
          <hr class="nav-side-block-hr">
          <div class="nav-side-block-content-container">
            <h3 class="nav-side-block-content"><%= link_to "Sign In", new_user_session_path, class: "text-d3 notosans signin" %></h3>
            <h3 class="nav-side-block-content"><%= link_to "Sign Up", new_user_registration_path, class: "text-d3 notosans signup" %></h3>
          </div>
        </div>
      <% end %>


      <div class="nav-side-block">
        <h2 class="nav-side-block-title notosans text-a9"><%= link_to "Explore", home_news_path, class: "notosans text-d3" %></h2>
        <hr class="nav-side-block-hr">
        <div class="nav-side-block-content-container">
          <h3 class="nav-side-block-content"><%= link_to "Articles", articles_path, class: "notosans text-d3" %></h3>
          <h3 class="nav-side-block-content"><%= link_to "ColorPicker", ENV['COLORPICKER_URL'] || "javascript:void(0)", class: "notosans text-d3" %></h3>
          <h3 class="nav-side-block-content"><%= link_to "WordBook", words_path, class: "notosans text-d3"%></h3>
          <h3 class="nav-side-block-content"><%= link_to "ToDoList", to_do_lists_path, class: "notosans text-d3"%></h3>
          <h3 class="nav-side-block-content"><%= link_to "Author", ENV['ABOUT_URL'] || "javascript:void(0)", class: "notosans text-d3" %></h3>
        </div>
      </div>
    </div>
  </nav>
</nav>