<nav id="nav-top">
  <%= link_to "TECHPOD", root_path ,class:"techpod notosans-bold" %>
  <div class="wrap-user-stats">
  <% if current_user %>
  <% if !["articles#new", "articles#edit"].include?("#{params[:controller]}##{params[:action]}") %>
  <%= link_to "&#x270e;".html_safe, new_article_path, class: "user-stat text-5b notosans-light new-article" %>
  <% end %>
  <%= link_to username(current_user), "javascript:void(0)" , class: "user-stat text-5b notosans-light username" %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "user-stat text-5b notosans-light" %>
  <% else %>
  <%= link_to "Sign In", new_user_session_path, class: "user-stat text-5b notosans-light signin" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "user-stat text-5b notosans-light signup" %>
  <% end %>
  </div>
</nav>
<div class="nav-side-toggle idle" id="nav-side-toggle" onclick="toggleSideNav()">&#x2630;</div>

<nav id="nav-side" class="no-dark">
  <div id="nav-side-menu-container">
   <div class="nav-side-block">
     <h2 class="nav-side-block-title notosans-light text-d3">Browse</h2>
     <hr class="nav-side-block-hr">
     <div class="nav-side-block-content-container">
       <h3 class="nav-side-block-content"><%= link_to "🗞News", root_path, class: "notosans-light text-d3" %></h3>
       <h3 class="nav-side-block-content"><%= link_to "✎  Articles", articles_path(locale: 'zh-TW'), class: "notosans-light text-d3" %></h3>
       <h3 class="nav-side-block-content"><%= link_to "✎  ShortNotes", "javascript:void(0)", class: "notosans-light text-d3" %></h3>
     </div>
   </div>

  <div class="nav-side-block">
    <h2 class="nav-side-block-title notosans-light text-d3">Tools</h2>
    <hr class="nav-side-block-hr">
    <div class="nav-side-block-content-container">
      <h3 class="nav-side-block-content"><%= link_to "🔧ColorPicker", "javascript:void(0)", class: "notosans-light text-d3" %></h3>
      <h3 class="nav-side-block-content"><%= link_to "&#x2630;  WordCards".html_safe, "javascript:void(0)", class: "notosans-light text-d3" %></h3>
      <h3 class="nav-side-block-content"><%= link_to "&#x2630;  MyPurchases".html_safe, "javascript:void(0)", class: "notosans-light text-d3" %></h3>
    </div>
   </div>
  </div>

  <div class="nav-side-block">
    <h2 class="nav-side-block-title notosans-light text-d3">About</h2>
    <hr class="nav-side-block-hr">
    <div class="nav-side-block-content-container">
      <h3 class="nav-side-block-content"><%= link_to "🔧ColorPicker", "javascript:void(0)", class: "notosans-light text-d3" %></h3>
      <h3 class="nav-side-block-content"><%= link_to "&#x1f464; Author".html_safe, "javascript:void(0)", class: "notosans-light text-d3" %></h3>
      <h3 class="nav-side-block-content"><%= link_to "&#x2630;  WordCards".html_safe, "javascript:void(0)", class: "notosans-light text-d3" %></h3>
    </div>
   </div>
  </div>
</nav>