<div id="sidebar" class="notosans">
  <div class="sidebar__block-container" id="latest-articles-container">
    <h3 class="block-title text-t4"><%= t('sidebar.you_might_interested') %></h3>
    <hr class="block-hr">
    <div class="block-content-container">
      <%= link_to "Dokku - 用heroku的方式部署到你的EC2 !", article_path(id: 1), class: "block-content-link font text-dft" %>
      <%= link_to "Rails: Gutentag tag_names N+1 problem", article_path(id: 43), class: "block-content-link font text-dft" %>
    </div>
  </div>
  <div class="sidebar__block-container" id="about-website">
    <h3 class="block-title text-t4"><%= t('sidebar.about_the_site') %></h3>
    <hr class="block-hr">
    <p class="block-content text-t4"><%= t('sidebar.about_site') %></p>
  </div>
</div>