<%= render('shared/header', subtitle:"Result")%>

<% if status %>
  <div class="txt">
    <h2 class="txt"> <strong>Success</strong> </h2>
    <p> <%= message%> </p>
    <div class="alert alert-dark">
      <% if data %>
       <div class="txt">
         <%= data %>
       </div>
       <%end%>
    </div>
  </div>
<% else %>
  <div class="wrap-result">
    <h2 class="txt"> <strong>Error</strong> </h2>
      <% if defined?(message) %>
        <h4 class="txt"> <%= message%> </h4>
      <% end %>
      <p class="wrap-message txt error"><%= error %></p>
  </div>
<% end %>


</div>
