<%= stylesheet_link_tag('result') %>
<main>
  <div class="wrap-result">
    <h1 class="txt"><%= @success ? "Success" : "Error"  %> <%= @status %></h1>
      <h2 class="subtitle"><%= t("controller.general.#{@success ? "success" : "error" }") %></h2>
      <% if @data.presence %>
        <h4 class="txt"> <%= @data%> </h4>
      <% end %>
      <p class="wrap-message txt error"><%= @message %></p>
      <%= link_to(t('controller.general.go_home'), root_path) %>
  </div>
</main>