<%= stylesheet_link_tag "section" %>
<%= stylesheet_link_tag "among_us" %>
<%= javascript_include_tag "among_us/among_us" %>

<div class="container">
  <section>
    <h3 class="block-title font text-t4"><%= t('controller.title.about_site') %></h3>
    <hr class="block-hr">
    <div class="section-content-container">
      <p class="paragraph text-dft notosans"><%= t('controller.general.welcome_message') %></p>
    </div>
  </section>

  <section>
    <h3 class="block-title font text-t4"><%= t('controller.title.about_rails') %></h3>
    <hr class="block-hr">
    <div class="section-content-container">
        <p class="why-people-dont-like-rails font text-t2"><%= t('controller.home.why_people_hate_rails') %></p>
        <div class="space-wrapper">
          <div class="player-ruby-wrap">
            <%= image_tag("ruby-big.svg", id: "player-ruby") %>
          </div>
          <div id="narration" class="paragraph text-t2"></div>
        </div>
    </div>
  </section>
</div>