<%= javascript_include_tag "home/home" %>
<%= render('shared/header', subtitle:"Home")%>

<div id="container">
  <% if current_user %>
    <%= link_to('Accounts', accounts_path, class:"btn") %>
    <div style="cursor:pointer;" >
      <%= link_to(image_tag("excel.png",class:"icon icon-csv",style:"border:1px solid white; border-radius:50%;"),excel_path,style:"padding:20px;") %>
    </div>
  <% else %>
    <%= link_to('Login', new_user_session_path, class:"btn") %>
  <% end %>
  <%# <%= link_to('send_post', post_newrecord_path, class:'btn btn-dark')%>
  <%# <%= link_to('Lists', list_home_path, class:'btn btn-dark')%>


  <%# <div class="dropdown dropdown-state">
    <div class="state" style="cursor: pointer" onclick="toggleDropdown(this)">按我 toggle</div>
    <ul class="dropdown-menu" onmouseleave="disableDropdown(this)">
      <li onclick="f1()"> Option1 </li>
      <li onclick="f2()"> Option2 </li>
    </ul>
  </div> %>

</div>

