<%# <%= javascript_include_tag "home/home" %>
<%= render('shared/header', subtitle:"Home")%>

<div id="container-cl">
  <%= link_to('記帳', accounts_path, class:"btn-grad home-option") %>
  <%= link_to("Excel", excel_path,class:"btn-grad home-option") %>
  <%= link_to('HTML Color Codes','https://htmlcolorcodes.com/',class:"btn-grad home-option") %>
  <%= link_to("Yeah", yeah_path,class:"btn-grad home-option") %>
  <%# <%= link_to('send_post', post_newrecord_path, class:'btn-grad btn-dark')%>
  <%# <%= link_to('Lists', list_home_path, class:'btn-grad btn-dark')%>


  <%# <div class="dropdown dropdown-state">
    <div class="state" style="cursor: pointer" onclick="toggleDropdown(this)">按我 toggle</div>
    <ul class="dropdown-menu" onmouseleave="disableDropdown(this)">
      <li onclick="f1()"> Option1 </li>
      <li onclick="f2()"> Option2 </li>
    </ul>
  </div> %>

</div>

