<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload'%>

<div class="container">
  <p class="welcome-txt text-dk notosans">This website is managed by <a href="https://github.com/harryuan65/" class="text-dk notosans">Harry Yuan</a>.</p>
  <section class="news">
    <h2 class="block-title text-7e notosans">Updates</h2>
    <hr class="block-hr">
    <div class="section-content-container">
     <% @news_list.each do |news| %>
      <div class="article-container">
        <a href="javascript:void(0)" class="article-link news">
         <h3 class="article-title notosans"><%= news[:title] %></h3>
         <span class="article-description notosans text-dk"><%= news[:description] %></span>
        </a>
        <span class="article-author notosans text-dk"></span>
        <span class="article-created-at notosans text-dk"><%= news[:date] %></span>
      </div>
     <% end %>
    </div>
  </section>
</div>
<%# legacy %>
<%# <%= link_to("#{content_tag(:span,"單字本",class:"option-text")}".html_safe, words_path(locale: 'zh-TW'),class:"home-option") %>
<%# <%= link_to("#{content_tag(:span,"寫文章",class:"option-text")}".html_safe, articles_path(locale: 'zh-TW'),class:"home-option") %>
<%# <%= link_to("#{content_tag(:span,"物資",class:"option-text")}".html_safe, supplies_path,class:"home-option") %>
<%#<%= link_to("#{content_tag(:span,"待辦事項",class:"option-text")}".html_safe,to_do_list_path,class:"home-option") %>
<%# <%= link_to("#{content_tag(:span,"記帳",class:"option-text")}".html_safe, accounts_path,class:"home-option") %>
<%# <%= link_to("#{content_tag(:span,"Excel",class:"option-text")}".html_safe, excel_path,class:"home-option") %>