<% if current_user %>
  <%= render('shared/header', subtitle:"Home")%>
  <div id="container-cl">
    <div class="wrap-home">
      <%= link_to('記帳', accounts_path(), class:" home-option") %>
      <%= link_to("Excel", excel_path,class:" home-option") %>
      <%= link_to('待辦事項',todos_path,class:"home-option") %>
      <%= link_to('Test',home_test_path,class:"home-option") %>
      <%= link_to('Validator',validator_path,class:"home-option") %>
      <%# <%= link_to('Raise Test Error',process_test_raise_error_path,class:"home-option") %>
      <%# <%= link_to('send_post', post_newrecord_path, class:' btn-dark')%>
      <%# <%= link_to('Lists', list_home_path, class:' btn-dark')%>
    </div>
  </div>
<% else %>
  <script>
    window.location.href="users/sign_in"
  </script>
<% end %>


<%= render("shared/skiers") %>
