<%= stylesheet_link_tag "home" %>
<div class="logo-wrap">
  <%= image_tag("ros/ruby-on-syringe415x590.png") %>
  <h1>Ruby On Stimulants</h1>
</div>
<h3>Learn and make things fun, like taking a stimulant</h3>
<ul>
  <li><a href="#">About</a></li>
  <li><%= link_to "Articles", articles_path %></li>
</ul>
<div class="icons-wrap">
  <a href="<%= ENV['MEDIUM_URL']%>"><%= image_tag("ros/medium_subed_logo.png", class: "icon") %></a>
  <a href="javascript:void(0)"><%= image_tag("ros/fb_subed_logo.png", class: "icon") %></a>
  <a href="<%= ENV['GITHUB_URL']%>"><%= image_tag("ros/git_subed_logo.png", class: "icon") %></a>
  <a href="<%= ENV['LINKEDIN_URL']%>"><%= image_tag("ros/linkedin_subed_logo.png", class: "icon") %></a>
</div>