<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload'%>

<p class="welcome-txt text-5b notosans-light">Welcome to TechPod! Here you can find some tech notes and<br/> some tools created by Harry, who is a small web developer.</p>
<section class="news">
  <h2 class="section-h2 text-7e notosans-light">News</h2>
  <hr class="section-hr">
  <div class="section-content-container">
     <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Sun, 20 Sep 2020</h3>
       <span class="article-description notosans-light text-5b">Add markdown support in articles#edit/show</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Sep 20</span>
    </div>
    <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Sat, 19 Sep 2020</h3>
       <span class="article-description notosans-light text-5b">Researching markdown</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Sep 19</span>
    </div>
    <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Fri, 18 Sep 2020</h3>
       <span class="article-description notosans-light text-5b">Article edit page in rails</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Sep 18</span>
    </div>
    <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Thu, 17 Sep 2020</h3>
       <span class="article-description notosans-light text-5b">Article edit page mock up</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Sep 17</span>
    </div>
    <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Wed, 16 Sep 2020</h3>
       <span class="article-description notosans-light text-5b">Refactor style a little bit</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Sep 16</span>
    </div>
    <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Tue, 15 Sep 2020</h3>
       <span class="article-description notosans-light text-5b">Add article show page</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Sep 15</span>
    </div>
    <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Mon, 14 Sep 2020</h3>
       <span class="article-description notosans-light text-5b">Add side nav + its transition</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Sep 14</span>
    </div>
    <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Sun, 13 Sep 2020</h3>
       <span class="article-description notosans-light text-5b">Implement mockup into rails: home page</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Sep 13</span>
    </div>

    <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Mon, 07 Sep 2020</h3>
       <span class="article-description notosans-light text-5b">Fixed a bug as well as add a ColorPicker</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Sep 07</span>
    </div>
    <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Mon, 05 Sep 2020</h3>
       <span class="article-description notosans-light text-5b">Change all style into a new theme! Finally it’s here.</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Sep 05</span>
    </div>
    <div class="article-container">
      <a href="" class="article-link">
       <h3 class="article-title notosans-bold">Update: Mon, 30 Aug 2020</h3>
       <span class="article-description notosans-light text-5b">Day of site creation.</span>
      </a>
      <span class="article-author notosans-light text-5b">harry</span>
      <span class="article-created-at notosans-light text-5b">Aug 30</span>
    </div>
  </div>
</section>

<%# legacy %>
<%# <%= link_to("#{content_tag(:span,"單字本",class:"option-text")}".html_safe, words_path(locale: 'zh-TW'),class:"home-option") %>
<%# <%= link_to("#{content_tag(:span,"寫文章",class:"option-text")}".html_safe, articles_path(locale: 'zh-TW'),class:"home-option") %>
<%# <%= link_to("#{content_tag(:span,"物資",class:"option-text")}".html_safe, supplies_path,class:"home-option") %>
<%#<%= link_to("#{content_tag(:span,"待辦事項",class:"option-text")}".html_safe,to_do_list_path,class:"home-option") %>
<%# <%= link_to("#{content_tag(:span,"記帳",class:"option-text")}".html_safe, accounts_path,class:"home-option") %>
<%# <%= link_to("#{content_tag(:span,"Excel",class:"option-text")}".html_safe, excel_path,class:"home-option") %>