<div id="container-supplies-page">
  <div class="wrap-link-form">
    <%= link_to '查看總覽', supplies_path,class:'link-btn' %>
    <%= form_for @new_supply, url: supplies_path(@new_supply), html:{class:"form-new",autocomplete:"on"}, remote: false ,method: 'post' do |f| %>
      <%= f.text_field "name"    , placeholder:"What?"   , required:true                               , class:"input text-field"%>
      <%= f.text_field "quantity"      , placeholder:"數量"   ,required:true                               , class:"input text-field"%>
      <div class="custom-select">
        <%= f.select "category", options_for_select(["正餐", "飲料", "沖泡式", "衛生紙", "餅乾", "水"]) ,{}    , class:"input select"%>
      </div>
      <%= f.date_field :earliest_expiration ,class:"input date" %>
      <%= f.submit "增加", class:"input submit" %>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <th class="supply-name">名稱</th>
      <th class="supply-category">分類</th>
      <th class="supply-quantity">數量</th>
      <th class="supply-earliest_expiration">最快到期日</th>
      <th class="supply-delete">❌</th>
    </thead>
    <tbody>
    <% if @supplies.any?  %>
      <% @supplies.each do |supply| %>
       <tr>
       <td class="supply-name"><%= supply.name %></td>
       <td class="supply-category"><%= supply.category_name %></td>
       <td class="supply-quantity"><%= supply.quantity %></td>
       <td class="supply-earliest_expiration"><%= supply.earliest_expiration %></td>
       <td class="supply-delete"><%= link_to "刪除", "/supplies/#{supply.id}", data:{confirm: "真的要刪除嗎？"}, method: :delete, class: 'supply-delete'%></td>
       </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>