<%= javascript_include_tag 'supplies/supplies.js' %>

<div id="container-supplies-page" class="state">
  <div class="wrap-link-form">
    <div class="wrap-cal">
      <div class="wrap-cal-item">
        <%= label_tag "一天吃幾碗泡麵",nil, class: 'label-cal' %>
        <%= text_field_tag :meal_amount  , nil, class:"input-cal",id: "meal-aday", value:'2', placeholder:"ex: 3",onkeyup:'calculate()' %>
      </div>
      <div class="wrap-cal-item">
        <%= label_tag "一天喝幾包餅乾",nil,class: 'label-cal' %>
        <%= text_field_tag :water_amount , nil, class:"input-cal",id: "cookie-aday", value:'1', placeholder:"ex: 1",onkeyup:'calculate()' %>
      </div>
      <div class="wrap-cal-item">
        <%= label_tag "一天喝幾瓶飲料",nil,class: 'label-cal' %>
        <%= text_field_tag :drink_amount ,nil, class:"input-cal", id: "drink-aday", value:'2', placeholder:"ex: 3",onkeyup:'calculate()' %>
      </div>
      <div class="wrap-cal-item">
        <%= label_tag "一天喝幾瓶水（2L）",nil,class: 'label-cal' %>
        <%= text_field_tag :water_amount , nil, class:"input-cal",id: "water-aday", value:'1', placeholder:"ex: 1",onkeyup:'calculate()' %>
      </div>
      <div class="wrap-cal-item">
        <%= label_tag "一天泡幾份沖泡式",nil,class: 'label-cal' %>
        <%= text_field_tag :powdered_amount , nil, class:"input-cal",id: "powdered_drink-aday", value:'1', placeholder:"ex: 1",onkeyup:'calculate()' %>
      </div>
      <div id="live">可以撐<span id="remain-days"></span>天</div>
    </div>
    <%= link_to "新增/查看全部", all_supplies_path,class: 'link-btn' %>
  </div>
  <table class="table supplies-state">
    <thead>
      <th class="supply-category">類型</th>
      <th class="supply-quantity">數量</th>
    </thead>
    <tbody>
    <% if @supplies.any?  %>
      <% @supplies.each do |supply| %>
        <tr>
          <td class="supply-category" id="<%=supply.category%>"><%= supply.category_name %></td>
          <td class="supply-quantity" id="<%=supply.category%>-quantity"><%= supply.quantity %></td>
       </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>