<div id="container-excel">
   <h1>Excel</h1>
  <div id="form-upload">
    <%= form_tag(excel_upload_path, method:"post",:multipart => true) %>
    <%= label_tag '檔案'%>
    <%= file_field_tag :csv_file,class:"file-input" %>
    <%= button_tag '送出', class:'input btn-excel'%>
  </div>
  <div id="wrap-two-tables">
   <div id="wrap-table">
   <h2>Uploaded</h2>
      <% if @uploads.size==0 %>
        <h4>Nothing，呢呢</h4>
      <% else %>
        <table class="table-file">
          <thead>
            <tr>
              <th class="file-icon">Download</th>
              <th class="file-name">Name</th>
              <th class="file-delete">Delete</th>
            </tr>
          </thead>
          <tbody>
              <% @uploads.each do |path|  %>
              <tr>
                <td class="file-icon">
                  <%= link_to("#{image_tag("excel.png",class:"path-icon") }".html_safe, download_path(file_path:Rails.root.join(Global::CSV_UPLOAD_PATH, path)),class:"") %>
                </td>
                <td class="file-name">
                  <%= link_to(path.split('/')[-1], excel_show_csv_path(file_io:path)) %>
                </td>
                <td class="file-delete wrap-delete">
                  <%= link_to(content_tag(:div, "X",class:"delete-icon"),delete_path(file_path:Rails.root.join(Global::CSV_UPLOAD_PATH, path)),data:{confirm:"真的要刪掉#{path}嗎?"}) %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
    <% end %>
   </div>

   <div class="wrap-table">
     <h2>Output</h2>
      <% if @exports.size==0 %>
        <h4>Nothing，呢呢</h4>
      <% else %>
        <table class="table-file">
            <thead>
              <tr>
                <th class="file-icon">Download</th>
                <th class="file-name">Name</th>
                <th class="file-delete">Delete</th>
              </tr>
            </thead>
            <tbody>
                <% @exports.each do |path|  %>
                <tr class="tr-data">
                  <td class="file-icon">
                    <%= link_to("#{image_tag("excel.png",class:"path-icon") }".html_safe, download_path(file_path:Rails.root.join(Global::CSV_EXPORT_PATH, path)),class:"") %>
                  </td>
                  <td class="file-name">
                    <%= link_to(path.split('/')[-1], excel_show_csv_path(file_io:path)) %>
                  </td>
                  <td class="file-delete wrap-delete">
                     <%= link_to(content_tag(:div, "X",class:"delete-icon"),delete_path(file_path:Rails.root.join(Global::CSV_EXPORT_PATH, path)),data:{confirm:"真的要刪掉#{path}嗎?"}) %>
                  </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>

   </div>
  </div>
</div>