<%= render 'shared/header',subtitle: 'CSV' %>
<div id="container-cl">
<h1> <%= (@data.size>0? "✅":  "❌") %>  處理結果 </h1>
  <div class="count">
    <h4>檔案名稱： <%= @file_name %></h4>
    <h4>處理後資料表共：<%= @data.size %> 列</h4>
  </div>

  <% if @data.size>0 %>
    <%= link_to("輸出",excel_export_filter_africa_path(file_name:@file_name),class:"btn-export") %>
    <% else %>
    <h3>呢呢，裡面沒東西</h3>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <% begin %>
            <% @longest_hash.each do |data| %>
              <th> <%= data[0] %></th>
            <%end%>
          <% rescue=>exception %>
           <%= @data %>
          <% end %>

      </tr>
    </thead>
    <tbody>
      <% @data.each do |row| %>
        <tr>
          <% begin %>
            <% row.each do |data| %>
              <td> <%= data[1] %></td>
            <%end%>
          <% rescue=>exception %>
            <%= @data %>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>




</div>