<%= render 'shared/header',subtitle: 'CSV' %>
<div id="container-cl">
  <h1> 👀 預覽 </h1>
  <div class="count">
     <h4>🗂檔案名稱：<%= image_tag("excel.png",class:"icon-csv") %> <%= @file_name %></h4>
     <h4>📚資料表共：<%= @data.size %> 列</h4>
  </div>

  <% if @data.size>0 %>
    <%= link_to("過濾非洲",excel_processed_csv_path(file_io:@file_name),class:"btn-export") %>
  <% else %>
    <%= button_tag("不能處理","#",class:"btn-report") %>
  <% end %>

  <table class="table-excel">
    <thead>
      <tr>
        <% begin %>
            <% @longest_hash.each do |data| %>
              <th> <%= data[0] %></th>
            <%end%>
          <% rescue=>exception %>
           <%= @data %>
          <% end %>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |row| %>
        <tr>
          <% begin %>
            <% row.each do |data| %>
              <td> <%= data[1] %></td>
            <%end%>
          <% rescue=>exception %>
            <%= @data %>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>