<%= render("shared/header",subtitle:"Todos") %>

<%= form_tag todos_add_todo_path,method:"post",id:"form-add-todo" do %>
  <%= label_tag("內容") %>
  <%= text_field_tag(:content,nil,class:"todo content") %>

  <%= label_tag("急迫") %>
  <%= text_field_tag(:is_urgent,nil,class:"todo is-urgent") %>

  <%= label_tag("期限") %>
  <%= date_field_tag(:deadline,nil,class:"todo deadline") %>

  <%= label_tag("相關人士") %>
  <%= text_field_tag(:related_people,nil,class:"todo related-people") %>

  <%= button_tag("新增",class:"todo btn-add-todo") %>
<% end %>

<table class="table-todo">
<thead>
<tr>
  <td>完成</td>
  <td>內容</td>
  <td>急迫</td>
  <td>期限</td>
  <td>相關人員</td>
  <td>建立時間</td>
</tr>
</thead>
<tbody>
<% @todos.each do |todo| %>
<tr>
  <td>O</td>
  <td><%= todo.content %></td>
  <td><%= todo.is_urgent %></td>
  <td><%= todo.deadline %></td>
  <td><%= todo.related_people %></td>
  <td><%= todo.created_at %></td>
</tr>
<% end %>
</tbody>
</table>



<%= render("shared/skiers") %>