<!-- used as SJR from index.js.erb -->
  <% @lists.each_with_index do |list, i| %>
    <% if list.id.present? %>
      <div id="list-<%= list.id%>" class="list notosans" style="background-color: <%= list.bg_color%>; z-index: <%= @z_index_count%>;">
        <input type="text" name="name" class="list-name notosans text-2b" autocomplete="off" value="<%= list.name %>"/>
        <%= link_to "&#x2715;".html_safe, "#", class: "delete-list text-5b", remote: true %>
        <div class="list-body">
          <script>renderItems("<%= list.id %>", JSON.parse("<%= j list.items.to_json.html_safe %>"));</script>
        </div>
      </div>
    <% else %>
      <div id="list-new" class="list empty-flex-center notosans" style="background-color: #ECF0F1; z-index: <%= @z_index_count%>;">
        <div class="list-body">
          <div class="add-new-list">&#xff0b;</div>
        </div>
      </div>
    <% end %>

    <% @z_index_count-=1 %>
  <% end %>

<script>setUpListener()</script>