<!DOCTYPE html>
<html>
  <head>
    <title><%= @article && current_position=="articles#show" ? @article.title + " - ActiveMine"  : "ActiveMine - Dig out valuable things from the Internet" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('ruby.ico') %>
    <meta name="google-site-verification" content="ShpDI9Bv2xUb3AwyKKldqZ2Ax87ZG9dFxVFvYqWvrG4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  'layout', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= stylesheet_link_tag  'tomorrow-night-eighties.css', media: 'all', 'data-turbolinks-track': 'reload'%>

    <% if params[:controller] == "articles" %>
      <%= javascript_include_tag "highlight" %>
      <script>
        var listSize = 0;
        var newDataSize = 0;

        function LoadMore(isMine=null){
          $.ajax({
            url: isMine ? `/articles/mine?offset=${listSize}` : `/articles?offset=${listSize}`,
            dataType: "script"
          })
          .done(function(res){
            console.log('OK唷');
          })
          .fail(function(jqXHR){
            let contentType = jqXHR.getResponseHeader('Content-Type');
            if(jqXHR.responseJSON){
              let errorMsg = jqXHR.responseJSON.error;
              setFlash(false, errorMsg);
            }
            else{
              console.log(jqXHR.responseText)
              setFlash(false, `Response Type mismatched: got ${contentType}`);
            }
          })
        }
      </script>
    <% end %>
  </head>

  <body>
    <%= render('shared/header') %>
    <main id="main" class="<%= "#{params[:controller]}##{params[:action]}" == "articles#edit" ? "no-pad" : "" %>"  >
      <%= yield %>
    </main>
    <%= render('shared/footer') %>
  </body>
</html>
