<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> %>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
  </head>

  <body>
      <div class="wrap-alert" id="wrap-alert">
        <% if notice %>
          <p class="txt alert alert-success animation-forwards" onanimationend="reverseAnimation(this)">
           <span class="alert-txt"><%= notice %></span>
          </p>
        <% end %>
        <% if alert %>
           <p class="txt alert alert-danger animation-forwards" onanimationend="reverseAnimation(this)">
           <span class="alert-txt"> <%= alert %></span>
          </p>
        <% end %>
          <%# <p class="txt alert alert-danger animation-forwards" onanimationend="reverseAnimation(this)"><span class="alert-txt">Test abcdefghijadfadsf123</span></p> %>
      </div>
      <%= yield %>
  </body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBEqQtc-4sld3LxcXZNRsN2nF6e9pnOkUw",
    authDomain: "harrysworkspace.firebaseapp.com",
    databaseURL: "https://harrysworkspace.firebaseio.com",
    projectId: "harrysworkspace",
    storageBucket: "harrysworkspace.appspot.com",
    messagingSenderId: "257855706500",
    appId: "1:257855706500:web:c01c3c9dfaf3a22119f9d1",
    measurementId: "G-FJ25X8T54H"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</html>
