<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> %>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
  </head>

  <body>
      <div class="wrap-alert" id="wrap-alert">
        <% if notice %>
          <p class="txt alert alert-success animation-forwards" onanimationend="reverseAnimation(this)">
           <span class="alert-txt"><%= notice %></span>
          </p>
        <% end %>
        <% if alert %>
           <p class="txt alert alert-danger animation-forwards" onanimationend="reverseAnimation(this)">
           <span class="alert-txt"> <%= alert %></span>
          </p>
        <% end %>
          <%# <p class="txt alert alert-danger animation-forwards" onanimationend="reverseAnimation(this)"><span class="alert-txt">Test abcdefghijadfadsf123</span></p> %>
      </div>
      <%= render('shared/header') %>
      <h2 id="home-title"><%= @title %></h2>
      <%= yield %>
  </body>
</html>
