<%= javascript_include_tag("accounts/accounts") %>
<%= render('shared/header',subtitle:"Accounts") %>

<div id="wrap-dropdown-form">
    <div id="dropdown-form">
          <div class="wrap-form-title">
            <span class="txt form-title">New</span>
            <span class="txt x" onclick="toggleForm()">x</span>
          </div>
          <%= form_for @new_purchase_history, url:add_accounts_path(@new_purchase_history),html:{id:"form-ph",name:"form-ph",autocomplete:"off"},remote:true ,method: 'post' do |f| %>
            <%= f.text_field "content"    , placeholder:"內容物"   , required:true                               , class:"input text-field"%>
            <%= f.text_field "price"      , placeholder:"$$金額"   ,required:true                               , class:"input text-field"%>
            <%= f.select "category"       , options_for_select(["正餐","甜點","飲料","免死金牌","生活用品"]) ,{}    , class:"input select"%>
            <%= f.select "currency"       , options_for_select(["NTD","JPY","USD","RMB"]) ,{}                  , class:"input select" %>
            <%= f.text_field "description", placeholder:"備註"                                                 ,class:"input text-field" %>
            <%= f.submit "Submit", class:"input submit" %>
          <% end %>
    </div>
</div>

<div id="container-account">
  <div class="wrap-account-today">
    <table class="table table-account txt">
      <thead>
        <tr>
          <%# <th>Edit📝</th> %>
          <%# <th class="rid">RID 📝</th> %>
          <th class="time">時間</th>
          <th class="content">內容</t>
          <th class="price">價格</th>
          <th class="category">類型</th>
          <th class="description">備註 </th>
          <th class="currency">幣種 </th>
          <th class="delete">刪除</th>
        </tr>
      </thead>
      <tbody class="tbody-account">
        <% @todays_purchase_histories.each do |record| %>
          <tr id="tr_<%=record.id%>">
            <%# <td><%= button_tag("✏️",onclick:"edit(this, #{record.id})")</td> %>
            <%# <td class="rid"><%= record.id %></td>
            <td class="time" id="<%=record.id%>" onclick="details(this)"><%= taipei_time(record.created_at) %></td>
            <td class="content"><%= record.content %></td>
            <td class="price"><%= record.price %></td>
            <td class="category"><%= record.category %></td>
            <td class="description"><%= record.description %></td>
            <td class="currency"><%= record.currency %></td>
            <td class="delete"> <div onclick='delete_history({url:"<%= delete_accounts_path%>", id:"<%= record.id %>"})' > ❌</div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <span class="table-title"><%= @time %> 有: <%= @todays_purchase_histories.size %>筆</span>

  </div>
  <div class="account-options">
    <div class="account-option">
      <div id="dropdown-toggle" onclick="toggleForm()">
        <div class="icon-wrap"><%= image_tag("add.png",class:"icon-add") %></div>
      </div>
    </div>

    <div class="account-option">
       <div style="cursor:pointer;" onclick="alert('抱歉姆咪，這還沒有功能')">
         <div class="icon-wrap"><%= image_tag("report.png",class:"icon icon-report") %></div>
       </div>
    </div>
  </div>
</div>