<%# <%= javascript_include_tag("accounts/accounts") %> %>

<%= render("shared/header",title:"New spending") %>
<div id="container-rw">
  <%= form_for @new_purchase_history, url:add_accounts_path(@new_purchase_history),html:{id:"form-ph",name:"form-ph"},method: 'post' do |f| %>
    <%= f.text_field "content"    , placeholder:"內容物",required:true                               , class:"input-ph"%>
    <%= f.text_field "price"      , placeholder:"$$金額"   ,required:true                           , class:"input-ph"%>
    <%= f.select "category"       , options_for_select(["正餐","甜點","飲料","免死金牌","生活用品"]) ,{}, class:"input-ph select select-category"%>
    <%= f.select "currency"       , options_for_select(["NTD","JPY","USD","RMB"]) ,{}            , class:"input-ph select select-currency" %>
    <%= f.text_field "description", placeholder:"備註"                                         ,class:"input-ph" %>
    <%= button_tag("儲存",onclick:"submit_ph()",type: 'button',class:"btn-grad btn-ph" ) %>
  <% end %>
</div>
<div>
  <textarea id="result">
  </textarea>
</div>