<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up - TechPod</title>
  <%= stylesheet_link_tag "shared" %>
  <%= javascript_include_tag "shared" %>
  <%= stylesheet_link_tag "users/signin_and_register" %>
  <%= javascript_include_tag "users/signin_and_register" %>
</head>
<body>
    <div class="wrap-alert" id="wrap-alert">
      <% if notice %>
        <p class="alert alert-success" onanimationend="reverseAnimation(this)">
         <span class="alert-txt"><%= notice %></span>
        </p>
      <% end %>
      <% if alert %>
         <p class="alert alert-danger" onanimationend="reverseAnimation(this)">
         <span class="alert-txt"> <%= alert %></span>
        </p>
      <% end %>
        <%# <p class="txt alert alert-danger animation-forwards" onanimationend="reverseAnimation(this)"><span class="alert-txt">Test abcdefghijadfadsf123</span></p> %>
    </div>
    <div id="container-signin">
      <h1 id="txt-signin">Sign Up</h1>
      <%= form_for(@user, as: :user, url: registration_path(@user)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="signin-pair">
            <!-- second arg is display text, or it'll find devise I18n-->
            <%= f.label "email", "username", class: 'signin-label tc' %>
            <%= f.email_field(:email, required: true, class: "signin-option input username", autocomplete: 'off') %>
        </div>

        <div class="signin-pair">
            <%= f.label "password", "password", class: 'signin-label tc' %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field(:password, required: true, class: "signin-option input password", autocomplete: 'off') %>
        </div>

        <div class="signin-pair">
          <%= f.label "password_confirmation", "confirm password" , class: 'signin-label tc' %><br />
          <%= f.password_field :password_confirmation, class: "signin-option input password",autocomplete: "new-password" %>
        </div>

        <div class="signin-pair">
          <%= f.submit "Sign up", class: "signin-option submit tc signup"%>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </body>
</html>