<%= stylesheet_link_tag "signin_and_register" %>
<%= javascript_include_tag "signin_and_register" %>
<%= javascript_include_tag "register" %>
<div id="container-sign">
  <%= form_for(@user, as: :user, url: registration_path(@user), html: {id: 'form-signup'}) do |f| %>
    <h1 class="txt-sign">Sign Up</h1>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="signin-pair">
        <!-- second arg is display text, or it'll find devise I18n-->
        <%= f.label "email", "username", class: 'signin-label' %>
        <%= f.email_field(:email, required: true, class: "signin-option input username", autofocus: true, autocomplete: 'off') %>
    </div>

    <div class="signin-pair">
        <%= f.label "password", "password", class: 'signin-label' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field(:password, required: true, class: "signin-option input password", autocomplete: 'off') %>
    </div>

    <div class="signin-pair">
      <%= f.label "password_confirmation", "confirm password" , class: 'signin-label' %><br />
      <%= f.password_field :password_confirmation, class: "signin-option input password",autocomplete: "new-password" %>
    </div>

    <div class="signin-pair">
      <%= f.submit "Sign up", class: "signin-option submit signup", id: "btn-signup"%>
    </div>
    <%= link_to "Have an account? Sign In", new_user_session_path, class: "text-dft page-link" %><br />
  <% end %>
</div>